

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
}

nav{
    position: static;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;

}

.logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: aliceblue;
    padding: auto;
    margin: 25px 30px;
}

nav ul{
    float: right;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

nav ul li a{
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
}

nav ul li a:hover{
   text-decoration: underline;
}

nav ul li a:active{
    background-color: rgba(0,0,0,0.7);
    border-radius: 16px;
}

#home{
    width: 100vw;
    height: 100vh;
}

.text{
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    border-bottom: 1px solid black;
    text-align: center;
}

.flex{
    display: flex;
    
}

img{
    width: 100em;
    background-size: cover;
    height: 100vh;
}

#header{
    font-size: 20px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    z-index: 1;
    top: 420px;
    left: 250px;
    color: #232121;
}

article{
    font-size: medium;
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    margin: 4em 0px 0px 0px;
    padding: 35px;
    width: 100%;
    height: 30em;
}

h2{
    font-size: 32px;
    text-decoration: underline;
    margin-bottom: 10px;
}

#lori{
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    top: 50px;
    margin: 3px;
    width: 13em;
    height: 13em;

}

#black{
    position: relative;
    border: 1px solid black;
    top: 120px;
    left: 10px;
    z-index: 1;
    width: 10em;
    height: 10em;
}

#fairy{
    border: 1px solid black;
    position: relative;
    top: 90px;
    right: 80px;
    width: 10em;
    height: 10em;
}

.column{
    padding: 32px;
}

.flexbox{
    display: flex;
    padding: 32px;
    border-bottom: 1px solid black;
}

#image{
    max-width: 350px;
    height: 300px;
    padding: 10px 10px;
    border-radius: 30px;
    justify-content: center;
}

.images{
    position: relative;
     left: 50px;
     top: -10px;
    align-items: center;
}

.gallery{
    width: 300px;
    padding: 0px 20px 0px 0px;
    border-right: 1px solid black;
}

#face{
    width: 600px;
    background-size: cover;
    height: 400px;
}

.con{
    margin-bottom: 10px;
    padding:52px ;
    display: grid;
}

button{
    margin: 0px 10px ;
    padding: 3px;
    cursor: pointer;
}

button:hover{
    text-decoration: underline;
    background-color: rgb(171, 110, 171);
    color: #fff;
}

@media (max-width: 600px){
    nav ul {
        display: none;
    }

    h1{
        padding: 0px 30%;
    }

    body{
        max-width: 1150px;
    }

    .logo{
        padding: 0px 30%;
    }

    img{
        min-width: 150px;
    }

    #header{
        top: 290px;
        left: 100px;
        font-size: 10px;
        min-height: 20px;
    }

    #lori{
        min-width: 110px;
        height: 150px;
        top: -20px;
        left: -30px;
    }

    .column{
        position: relative;
        font-size: 9px;
        top: -40px;
        padding: 0px;
      
    }

    .columnright{
        position: relative;
        top: 18px;
        left: -295px;
    }

    .gallery{
        font-size: 10px;
        max-width: 350px;
    }

    #image{
        position: relative;
        left: -40px;
        width: 220px;
       
    }
    
    .ig{
        background-color: bisque;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 5px;
        
    }

    .tt{
        background-color: bisque;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 5px;
        
    }

    .fb{
        background-color: bisque;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 5px;
        
    }
}
/*
@media (max-width: 350px){
    nav ul {
        display: none;
    }

    nav{
        width: 100%;
    }

    h1{
        padding: 0px 70%;
    }

    body{
        max-width: 750px;
    }

    .logo{
        padding: 0px 50%;
    }

    #home{
        display: flex;
        flex-direction: column;
    }

    img{
        min-width: 100px;
    }

    #header{
        top: 350px;
        left: 80px;
        font-size: 10px;
        min-height: 20px;
    }

    #lori{
        min-width: 110px;
        height: 140px;
        top: -20px;
    }

    .column{
        position: relative;
        font-size: 9px;
        top: -40px;
        padding: 0px;
        margin-left: 30px;
    }

    .columnright{
        position: relative;
        top: 15px;
        left: -350px;
    }

    .gallery{
        font-size: 10px;
        max-width: 350px;
    }

    #image{
        width: 250px;
        margin-right: 90px;
    }
    
}

/*
@media (max-widt2: 780px) and (max-width: 480px)  { 
        nav ul{
            display: none;
            font-size: small;
            height: 100px;
            width: 50%;
            background-color: rgba(0,0,0,0.3);
            
        }   
        
        nav{
            height: 100px;

        }

        

        h1{
            text-align: center;
        }

        .logo{
        margin: auto;
        }

        .flex{
            display: flex;
            flex-direction: column;
        }

        img{
            margin: 0px auto;
            height: 250px;
            widt: 440px;
        }

        #dder{
            width: 80px;
            font-size: small;
            position: absolute;
            z-index: 1;
             top: 290px;
            left: 170px;
            color: #232121;
        }

        #aboutus{
            position: relative;
           top: 200px;
            padding: 3px;
            width: 100%;
        }

        article{
            display: flex;
        }

        #passage{
            font-size: 10px;
            
        }

        #black{
            position: relative;
            border: 1px solid black;
            top: 100px;
            left: 20px;
            z-index: 2;
            width: 10em;
            height: 10em;
        }
        
        #fairy{
            border: 1px solid black;
            position: relative;
            top: 120px;
            left: 0px;
            width: 10em;
            height: 10em;
            z-index: 1;
        }

        .columnright{
            position: absolute;
            top: 190px;
            left: 60px;
        }

        #gallery{
            position: relative;
            top: -20px;
        }

        .gallery{
            font-size: 10px;
        }

        .images{
            padding-top: -50px;
            height: 250px;
        }

        #image{
            margin-top: -3px;
            height: 7em;
            width: 7em;
        }

        #contacts{
            position: relative;
            height: 50px;
            width: 50px;

        }

        .con{
            position: relative;
            left: -40px;

        }

        #face{
            height: 350px;
            width: 450px;
        }


        }     

    @media (max-width: 840px) {
        img{
            margin: 0px auto;
            height: 250px;
            width: 340px;
        }

        #
        der{
            width: 190px;
            font-size: small;
            position: absolute;
            z-index: 1;
             top: 430px;
            left: 100px;
            color: #232121;
        }

        
        #aboutus{
            position: relative;
            top: -370px;
            padding: 3px;
            width: 100%;
            height: 550px;
        }

        article{
            display: flex;
        }

        .column{
            position: relative;
            left: -25px;
        }
        #passage{
            font-size: 10px;
            width: 120px;
            
        }

        #black{
            position: relative;
            border: 1px solid black;
            top: 90px;
            left: -20px;
            z-index: 2;
            width: 9em;
            height: 9em;
        }
        
        #fairy{
            border: 1px solid black;
            position: relative;
            top: 200px;
            left: -150px;
            width: 9em;
            height: 9em;
            z-index: 1;
        }

        #gallery{
            position: relative;
            top: -390px;
        }

        .gallery{
            font-size: 10px;
        }


        #image{
            margin-top: 10px;
            margin-right: 50px;
            height: 7em;
            width: 7em;
        }

        #contacts{
            position: relative;
            top: -390px;
           height: 100px;

        }

        #face{
            height: 350px;
            width: 355px;
        }

        .con{
            display: flex;
        }

         button::after {
            text-decoration: underline;
            background-color: rgb(171, 110, 171);
            color: #fff;
        }

        button:hover{
            text-decoration: underline;
            background-color: rgb(117, 16, 117);
            color: #fff;
        }

    }

    @media (max-width: 390px) and (min-width: 375px) {
        img{
            margin: 0px auto;
            height: 250px;
            width: 240px;
        }

        #header{
            width: 190px;
            font-size: small;
            position: absolute;
            z-index: 1;
             top: 430px;
            left: 100px;
            color: #232121;
        }

        
        #aboutus{
            position: relative;
            top: -370px;
            padding: 3px;
            width: 100%;
            height: 550px;
        }

        article{
            display: flex;
        }

        .column{
            position: relative;
            left: -25px;
        }
        #passage{
            font-size: 10px;
            width: 120px;
            
        }

        #black{
            position: relative;
            border: 1px solid black;
            top: 90px;
            left: -20px;
            z-index: 2;
            width: 9em;
            height: 9em;
        }
        
        #fairy{
            border: 1px solid black;
            position: relative;
            top: 200px;
            left: -150px;
            width: 9em;
            height: 9em;
            z-index: 1;
        }

        #gallery{
            position: relative;
            top: -390px;
        }

        .gallery{
            font-size: 10px;
        }


        #image{
            margin-top: 10px;
            margin-right: 50px;
            height: 7em;
            width: 7em;
        }

        #contacts{
            position: relative;
            top: -390px;
           height: 100px;

        }

        #face{
            height: 350px;
            width: 355px;
        }

        .con{
            display: flex;
        }

         button::after {
            text-decoration: underline;
            background-color: rgb(171, 110, 171);
            color: #fff;
        }

        button:hover{
            text-decoration: underline;
            background-color: rgb(117, 16, 117);
            color: #fff;
        }
    }

    @media (max-width: 450px) {
        img{
            margin: 0px auto;
            height: 250px;
            width: 440px;
        }

        #order{
            width: 190px;
            font-size: small;
            position: absolute;
            z-index: 1;
             top: 430px;
            left: 130px;
            color: #231d1d;
        }

        
        #aboutus{
            padding: 3px;
            width: 100%;
        }

        article{
            display: flex;
            position: relative;
            top: 10px;
            height: 550px;
        }

        .column{
            position: relative;
            left: -25px;
        }
        #passage{
            font-size: 10px;
            width: 120px;
            
        }

        #black{
            position: relative;
            border: 1px solid black;
            top: 90px;
            left: -20px;
            z-index: 2;
            width: 9em;
            height: 9em;
        }
        
        #fairy{
            border: 1px solid black;
            position: relative;
            top: 200px;
            left: -150px;
            width: 9em;
            height: 9em;
            z-index: 1;
        }

        #gallery{
            position: relative;
            top: -290px;
        }

        .gallery{
            font-size: 10px;
        }


        #image{
            margin-top: 10px;
            margin-right: 50px;
            height: 7em;
            width: 7em;
        }

        #contacts{
            position: relative;
            top: -290px;
           height: 200px;

        }

        #face{
            height: 250px;
            width: 440px;
        }

        .con{
            display: flex;
        }

         button::after {
            text-decoration: underline;
            background-color: rgb(171, 110, 171);
            color: #fff;
        }

        button:hover{
            text-decoration: underline;
            background-color: rgb(117, 16, 117);
            color: #fff;
        }

    }

    @media  (max-width: 428px){
        img{
            margin: 0px auto;
            height: 250px;
            width: 420px;
        }

        #header{
            width: 190px;
            font-size: small;
            position: absolute;
            z-index: 1;
             top: 430px;
            left: 100px;
            color: #232121;
        }

        
        #aboutus{
            position: relative;
            top: -500px;
            padding: 3px;
            width: 100%;
            height: 550px;
        }

        article{
            display: flex;
        }

        .column{
            position: relative;
            left: -25px;
        }
        #passage{
            font-size: 10px;
            width: 120px;
            
        }

        #black{
            position: relative;
            border: 1px solid black;
            top: 130px;
            left: -20px;
            z-index: 2;
            width: 7em;
            height: 7em;
        }
        
        #fairy{
            border: 1px solid black;
            position: relative;
            top: 220px;
            left: -150px;
            width: 7em;
            height: 7em;
            z-index: 1;
        }

        #gallery{
            position: relative;
            top: -390px;
        }

        .gallery{
            font-size: 10px;
        }


        #image{
            margin-top: 10px;
            margin-right: 50px;
            height: 7em;
            width: 7em;
        }

        #contacts{
            position: relative;
            top: -390px;
           height: 100px;

        }

        #face{
            height: 350px;
            width: 435px;
        }

        .con{
            display: flex;
            padding: 10px;
        }

         button::after {
            text-decoration: underline;
            background-color: rgb(171, 110, 171);
            color: #fff;
        }

        button:hover{
            text-decoration: underline;
            background-color: rgb(117, 16, 117);
            color: #fff;
        }
    }

    @media  (max-width: 320px){
        img{
            margin: 0px auto;
            height: 250px;
            width: 310px;
        }

        #header{
            width: 190px;
            font-size: small;
            position: absolute;
            z-index: 1;
             top: 430px;
            left: 80px;
            color: #1e1414;
        }

        
        #aboutus{
            position: relative;
            top: -500px;
            padding: 3px;
            width: 100%;
            height: 550px;
        }

        article{
            display: flex;
        }

        .column{
            position: relative;
            left: -25px;
        }
        #passage{
            font-size: 10px;
            width: 120px;
            
        }

        #black{
            position: relative;
            border: 1px solid black;
            top: 130px;
            left: -20px;
            z-index: 2;
            width: 7em;
            height: 7em;
        }
        
        #fairy{
            border: 1px solid black;
            position: relative;
            top: 220px;
            left: -150px;
            width: 7em;
            height: 7em;
            z-index: 1;
        }

        #gallery{
            position: relative;
            top: -390px;
        }

        .gallery{
            font-size: 10px;
        }


        #image{
            margin-top: 10px;
            margin-right: 50px;
            height: 7em;
            width: 7em;
        }

        #contacts{
            position: relative;
            top: -390px;
           height: 100px;

        }

        #face{
            height: 350px;
            width: 435px;
        }

        .con{
            display: flex;
            padding: 10px;
        }

         button::after {
            text-decoration: underline;
            background-color: rgb(171, 110, 171);
            color: #fff;
        }

        button:hover{
            text-decoration: underline;
            background-color: rgb(117, 16, 117);
            color: #fff;
        }
    }

    @media (max-width: 600px) {
        img{
            margin: 0px auto;
            height: 250px;
            width: 390px;
        }

        #header{
            width: 190px;
            font-size: small;
            position: absolute;
            z-index: 1;
             top: 430px;
            left: 100px;
            color: #232121;
        }

        
        #aboutus{
            position: relative;
            top: -380px;
            padding: 3px;
            width: 100%;
            height: 650px;
        }

        article{
            display: flex;
        }

        .column{
            position: relative;
            left: -25px;
        }
        #passage{
            font-size: 10px;
            width: 120px;
            
        }

        #black{
            position: relative;
            border: 1px solid black;
            top: 90px;
            left: -20px;
            z-index: 2;
            width: 9em;
            height: 9em;
        }
        
        #fairy{
            border: 1px solid black;
            position: relative;
            top: 200px;
            left: -150px;
            width: 9em;
            height: 9em;
            z-index: 1;
        }

        #gallery{
            position: relative;
            top: -390px;
        }

        .gallery{
            font-size: 10px;
        }


        #image{
            margin-top: 10px;
            margin-right: 50px;
            height: 8em;
            width: 8em;
        }

        #contacts{
            position: relative;
            top: -390px;
           height: 200px;

        }

        #face{
            height: 350px;
            width: 400px;
        }

        .con{
            padding: 5px;
            display: flex;
        }

         button::after {
            text-decoration: underline;
            background-color: rgb(171, 110, 171);
            color: #fff;
        }

        button:hover{
            text-decoration: underline;
            background-color: rgb(117, 16, 117);
            color: #fff;
        }

    }
    /*

    